@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Nunito&family=Work+Sans&display=swap');

/* removing preset styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling body */
body {
    overflow-x: hidden;
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    background-image: url("https://i.pinimg.com/564x/36/1b/24/361b2450074d8365221fe19f2f1ea4cb.jpg")
}

.flex{
    display: flex;
    border-radius: 25px;
    padding-left: 35px;
    width: 80%;
}





nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    width: 160px;
    height: 50px;
    background-color: #18a7c1;
    border-radius: 15px;
    color: white;
}

nav a:hover{
    animation: bubble 1s ease-out;
    background-color:#d890fe;
}

nav{
    position: relative;
    left: 350px;
    width: 80%;
    position: relative;
    transition: transform 0.3s;
}

.flexx{
    border-radius: 25px;
}


#gif{
    position: relative;
    left: 400px;
    top:150px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}



.home-text{
    
    position: relative;
    left: 300px;
    
}

.img-gif{
    padding-left: 400px;
    position: relative;
    top: 100px;
}

#education{
    width: 100%;
}




.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Styling navbar */
nav {
    height: 180px;
    width: 70%;
}

.flex a {
    text-decoration: none;
}

.flex h3:hover {
    font-weight: bold;
    color:#d890fe;
}
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* Styling Header section */
header {
    min-height: 620px;
    flex-wrap: wrap-reverse;
}

.header-text {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 536px;
}

header img {
    size: 100%;
    position: relative;
    left: 100px;
}


.whole{
    width: 80%;
}


h2 {
    font-size: 54px;
}

#about-text{
    font-size: 17px;
}
/* 
#projectt h2{
    text-decoration: none;
} */

.my-projects{
    padding-left: 500px;
}

.my-projects a{
    text-decoration: none;
}

.my-projects h2{
    font-size: 60px;
    padding-top: 50px;
}

.my-projects p{
    font-size: 25px;
}

.my-projects-card h3{
    color:#18a7c1;
}

.button {
    height: 50px;
    width: 150px;
    border-radius: 4px;
    background-color: #18a7c1 ;
    margin-top: 32px;
    position: relative;
    transition: transform 0.3s;
}

.button:hover{
    animation: bubble 1s ease-out;
    background-color:#d890fe;
}


.button:hover {
    animation: bubble 0.4s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.button p {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}

.my-full{
    position: relative;
    left: 300px;
    padding-top: 100px;
    /* padding-left: 300px; */
    width: 80%;
}

.home-text{
    width: 80%;
}

.my-main-hustle {
    position: absolute;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    min-height: 550px;
    width: 636px;
    z-index: -1;
    left: 0;
}

.my-full-work {
    margin-top: 1%;
    max-width: 555px;
    margin-left: 200px;
}

.my-full>h1 {
    max-width: 653px;
}

h2   {
    color: #18a7c1 ;
    font-size: 40px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

h1 {
    font-size: 100px;
    line-height: 100px;
}

/* Styling Projects */
.my-projects {
    min-height: 1045px;
    flex-direction: column;
    padding-top: 100px;
}


.my-projects>h2 {
    text-align: center;
}

.my-projects>p {
    max-width: 700px;
    text-align: center;
}

.my-projects-container {
    width: 1200px;
}

.my-projects-card {
    align-items: flex-start;
    max-width: 224px;
    min-height: 323px;
}

h5 {
    font-size: 16px;
    padding-top: 5px;
}

.my-projects-card>h3 {
    font-size: 16px;
}


.my-projects-card h3:hover {
    animation: bubble 1s ease-out;
    color: #d890fe;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }



hr {
    height: 4px;
    width: 30px;
    background-color: #18a7c1 ;
}


/* .my-projects-card h3{
    position: relative;
    transition: transform 0.3s;
} */

.my-hustle-text-container>h1 {
    color: #18a7c1 ;
}

.my-hustle-overall-container{
    padding-top: 200px;
}

.my-hobbies{
    padding-left: 250px;
}

.hustle-image-container{
    padding-left: 120px;
    padding-top: 50px;
}

/* .gallery {
    display: grid;
    grid-auto-rows: 400px;
    grid-auto-columns: 500px;
    grid-template-areas: "gallery__item--1 gallery__item--3 gallery__item--5"
                          "gallery__item--1 gallery__item--3 gallery__item--2"
                          "gallery__item--1 gallery__item--4 gallery__item--2";
}
.gallery__item--1{
    grid-area: "gallery__item--1";
}

.gallery__item--2{
    grid-area: "gallery__item--2";
}

.gallery__item--3{
    grid-area: "gallery__item--3";
}

.gallery__item--4{
    grid-area: "gallery__item--4";
}

.gallery__item--5{
    grid-area: "gallery__item--5";
    
} */







/* Styling footer section */

.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }

.footer{
    background-color: #24262b;
    padding: 100px 0;
    width:125%;
    left: -50px;
    padding-left:250px;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #18a7c1;
    padding-left: 8px;
  }

  .social-links{
    width: 400px;
  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }


  
 @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}    